<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{"" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{'modal.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <input id="fileLoader" type="file" #fileLoader name="files" title="Load Files" hidden>
  <ion-img  *ngIf="currentImage.value" [src]="currentImage$ | async"></ion-img>
  <ion-img *ngIf="!currentImage.value" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
  <ion-button   *ngIf="(platform.isNative$ | async)" expand="full" id="picture-button">{{'change-picture.title' | translate}}</ion-button>
  <ion-button color="medium" *ngIf="!(platform.isNative$ | async)" expand="full" (click)="changePic(fileLoader, 'file')">{{'' | translate}}</ion-button>
  <ion-popover *ngIf="platform.isNative$ | async" style="width:100%" trigger="picture-button" [dismissOnSelect]="true">
    <ng-template>
      <ion-content class="ion-padding">
        <h2>{{'Cambiar camara' | translate}}</h2>
        <ion-list>
          <ion-item lines="inset" (click)="changePic(fileLoader, 'library')" [button]="true" [detail]="false">
            <ion-icon slot="start" name="images-outline"></ion-icon>
            <ion-label>{{'' | translate}}</ion-label>
          </ion-item>
          <ion-item lines="inset" (click)="changePic(fileLoader, 'camera')" [button]="true" [detail]="false">
            <ion-icon slot="start" name="camera-outline"></ion-icon>
            <ion-label>{{'' | translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        {{'first_name' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'' | translate}}" formControlName="first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{'last_name' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'' | translate}}" formControlName="last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{'username' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'' | translate}}" formControlName="username"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="medium" [disabled]="!form.valid" (click)="onSubmit()">{{mode=="Edit"?('' | translate):('' | translate)}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>