<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-title>{{ "register.forgot" | translate }}</ion-title>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div id="center">
      <ion-card color="light">
        <ion-card-header>
          <ion-grid >
            <ion-row >
              <ion-col size="auto">
                <ion-img src="../../../../../assets/icon/icono-removebg-preview (1).png"></ion-img>
              </ion-col>
              <ion-col>
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
      
        <ion-card-content>
          <ion-grid>
            <ion-row>
                <ion-col>
                  <ion-item  color="medium" >
                    <ion-label color="dark"  position="stacked">
                      {{ "register.email" | translate
                      }}
                    </ion-label>
                    <ion-input color="dark" type="text" formControlName="email"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card-content>
        <!--Añadir a Traductor-->
        <ion-button color="secondary"  shape="round" [disabled]="!form.valid" type="submit" >{{"register.send"| translate}}</ion-button>
      </ion-card>
    </div>
  </form>
  <ion-button color="secondary" shape="round" (click)="onDismiss()">{{
    "modal.close" | translate
  }}</ion-button> 
</ion-content>