@font-face {
  font-family: 'Mantinia Regular';
  src: url('/src/assets/fonts/mantinia_regular/mantinia_regular.otf') format('otf');
}
*{
  font-family: 'Mantinia Regular';
}
// Estilos para dispositivos de escritorio
@media only screen and (min-width: 768px) {
.container {
    max-width: 960px;
    margin: 0 auto;
}

  ion-img{
    width: 40%;
    margin-left: 30%;
    padding: 0;
  }

  #cssClass{
    width: max-content;
  } 

  ion-list{
    margin-bottom: 20px;
    width: 37.5%;
    margin-left: 32%;
    padding: 0;
  }


  ion-button{
    width: 20%;
    margin-left: 40%;
    
  }

  .optionals{
    margin-left: 42%;
    text-align: center;
    padding: 3px;
  }

}

@media only screen and (max-width: 768px) {
  .container {
      max-width: 400px;
      margin: 0 auto;
  }
  
    ion-img{
      width: 100%;
      padding: 0;
    }
  
    #cssClass{
      width: max-content;
    } 
  
    ion-list{
      margin-bottom: 20px;
      width: 85%;
      margin-left: 8%;
      padding: 0;
    }
  
  
    ion-button{
      
      width: 30%;
      margin-left: 35%;
    }
  
    a{
      color: rgb(165, 124, 0);
    }
  
    .optionals{
      text-align: center;
      padding: 3px;
      margin-left:10%;
    }
  
  }
  


