<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{"title.settings"|translate}}</ion-title>
    <ion-icon *ngIf="esPc" id="back-icon" name="arrow-back-circle-outline" slot="end" routerLink="/home"></ion-icon>
    <ion-icon id="settings-icon" slot="start" name="settings-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<!-- Para dispositivos de escritorio-->
  <ion-grid *ngIf="esPc">
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-card>
            <ion-img  alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
            <ion-item>
              <ion-label>{{(user.user$ | async).first_name}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{(user.user$ | async).last_name}}</ion-label>
            </ion-item>
            <ion-item (click)="signOut()">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>{{"home.sign_out" | translate}}</ion-label>
            </ion-item>
          </ion-card>
        </ion-grid>
      </ion-col>
  


      <ion-col>
        <ion-grid *ngIf="esPc">
          <ion-row id="subtitle_row">
            <ion-text>{{ "settings.text_config"|translate}}</ion-text>
          </ion-row>

          <ion-row>
            <ion-img class="img_btn_language" (click)="onLanguage('es')" src="./../../../assets/fotos/country_fotos/espana.png" alt="Logo de España"></ion-img>
            <ion-img class="img_btn_language" (click)="onLanguage('en')" src="./../../../assets/fotos/country_fotos/reino-unido.png"  alt="Logo de reino-unido"></ion-img>
            <ion-img id="french" class="img_btn_language" (click)="onLanguage('fr')" src="./../../../assets/fotos/country_fotos/francia.png" alt="Logo de francia"></ion-img>
          </ion-row>

          <ion-row id="subtitle_row2">
            <ion-text>{{ "settings.text_config2"|translate}}</ion-text>
          </ion-row>
          <ion-row id="theme">
            <ion-button class="theme_buttons" (click)="OnToggleDarkMode()"  color="dark"><ion-icon  slot="start" name="moon" color="light"></ion-icon></ion-button>
            <ion-button class="theme_buttons" (click)="OnToggleLightMode()" color="dark"><ion-icon slot="start" name="sunny" color="primary"></ion-icon></ion-button>              
        </ion-row>
        </ion-grid> 
      </ion-col>
    </ion-row>
  </ion-grid>
  


<!-- Para dispositivos moviles-->
  <ion-grid *ngIf="esMovil">
    <ion-card>
      <ion-img  alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
      <ion-item>
        <ion-label>{{(user.user$ | async).first_name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{(user.user$ | async).last_name}}</ion-label>
      </ion-item>

      <ion-button id="edit_btn" shape="round" color="tertiary">{{ "settings.btn_edit"|translate}}</ion-button>
    </ion-card>

    <ion-row id="subtitle_row">
      <ion-text>{{ "settings.text_config"|translate}}</ion-text>
    </ion-row>

    <ion-row id="first_row">
      <ion-img class="img_btn_language" (click)="onLanguage('es')" src="./../../../assets/fotos/country_fotos/espana.png" alt="Logo de España"></ion-img>
      <ion-img class="img_btn_language" (click)="onLanguage('en')" src="./../../../assets/fotos/country_fotos/reino-unido.png"  alt="Logo de reino-unido"></ion-img>
      <ion-img class="img_btn_language" (click)="onLanguage('fr')" src="./../../../assets/fotos/country_fotos/francia.png" alt="Logo de francia"></ion-img>
    </ion-row>

    <ion-row class="theme_buttons">
      <ion-button id="moon_btn" (click)="OnToggleDarkMode()"  color="secondary"><ion-icon slot="start" name="moon" color="light"></ion-icon></ion-button>
      <ion-button id="sunny_btn" (click)="OnToggleLightMode()" color="secondary"><ion-icon slot="start" name="sunny-sharp" color="light"></ion-icon></ion-button>  
    </ion-row>
                
  </ion-grid>
</ion-content>

<ion-footer *ngIf="esMovil">
  <ion-toolbar color="light">
    <ion-icon  id="out-icon" name="log-out-outline" slot="start"  (click)="signOut()" ></ion-icon>
    <ion-icon id="back-icon"  name="arrow-back-circle-outline" slot="end" routerLink="/home"></ion-icon>
  </ion-toolbar>
  </ion-footer>



