<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{"title.settings"|translate}}</ion-title>
    <ion-icon *ngIf="esPc" id="back-icon" name="arrow-back-circle-outline" slot="end" routerLink="/home"></ion-icon>
    <ion-icon id="settings-icon" slot="start" name="settings-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<!-- Para dispositivos de escritorio-->
  <ion-grid *ngIf="esPc">
    <ion-row>
    <app-profile [user]="(user.user$ | async)" (onEdit)="onEditUser($event)" (onDelete)="onDeleteUser($event) "></app-profile>
      <ion-col>

        <ion-grid >
          <ion-text>
            Bienvenido a la página de configuración y edición de la aplicación de hosthotel, aquí encontrarás diversas opciones a la hora de editar tu perfil asi el cambio de idioma. 
          </ion-text>



                <h3>{{ "settings.text_config" | translate }}</h3>
                <ion-select [(ngModel)]="selectedLanguage" (ionChange)="onLanguageChange()">
                  <ion-select-option *ngFor="let language of languageOptions" [value]="language.code">
                    <ion-label>{{ language.name }}</ion-label>
                  </ion-select-option>
                </ion-select>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  


<!-- Para dispositivos moviles-->
  <ion-grid *ngIf="esMovil">
    <app-profile [user]="(user.user$ | async)" (onEdit)="onEditUser($event)" (onDelete)="onDeleteUser($event) "></app-profile>
    <ion-row id="subtitle_row">
    </ion-row>
    
    <ion-select [(ngModel)]="selectedLanguage" (ionChange)="onLanguageChange()">
      <ion-select-option *ngFor="let language of languageOptions" [value]="language.code">
        <ion-label>{{ language.name }}</ion-label>
      </ion-select-option>
    </ion-select>
                
  </ion-grid>
</ion-content>

<ion-footer *ngIf="esMovil">
  <ion-toolbar color="light">
    <ion-icon  id="out-icon" name="log-out-outline" slot="start"  (click)="signOut()" ></ion-icon>
    <ion-icon id="back-icon"  name="arrow-back-circle-outline" slot="end" routerLink="/home"></ion-icon>
  </ion-toolbar>
  </ion-footer>



