ion-icon{
  padding: 20px;
  width: 25px;
  height: 25px;
}

ion-grid{
  align-items: center;
  width: 400px;
  height: 400px;
}

ion-card{
  width: auto;
  border-style: round($number: 25);
  height: auto;
  align-items: center;
}

ion-item{
  width: auto;
  height: auto;
}