ion-icon{
  padding: 20px;
  width: 25px;
  height: 25px;
}

ion-grid{
  align-items: center;
  width: 300px;
  height: 400px;
}

ion-card{
  width: auto;
  height: auto;
  align-items: center;
}

ion-item{
  width: auto;
  height: auto;
}