<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Settings</ion-title>
    <ion-icon name="arrow-back-circle-outline" slot="end" routerLink="/home"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-row>
    <ion-col>
      <ion-grid>
        <ion-card>
          <ion-img  alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
          <ion-item>
            <ion-label>{{(user.user$ | async).first_name}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{(user.user$ | async).last_name}}</ion-label>
          </ion-item>
          <ion-item (click)="signOut()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>{{"home.sign_out" | translate}}</ion-label>
          </ion-item>
        </ion-card>
      </ion-grid>
    </ion-col>

    <ion-col>
      
    </ion-col>
  </ion-row>
  
</ion-content>
