<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{"Edit Hotel" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{'modal.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <input id="fileLoader" type="file" #fileLoader name="files" title="Load Files" hidden>
  <ion-img  *ngIf="currentImage.value" [src]="currentImage$ | async"></ion-img>
  <ion-img   *ngIf="!currentImage.value" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
  <ion-button  *ngIf="(platform.isNative$ | async)" expand="full" id="picture-button">{{'change-picture.title' | translate}}</ion-button>
  <ion-button *ngIf="!(platform.isNative$ | async)" expand="full" (click)="changePic(fileLoader, 'file')">{{'settings.btn_new' | translate}}</ion-button>
  <ion-popover *ngIf="platform.isNative$ | async" style="width:100%" trigger="picture-button" [dismissOnSelect]="true">
    <ng-template>
      <ion-content  class="ion-padding">
        <h2>{{'Cambiar camara' | translate}}</h2>
        <ion-list>
          <ion-item lines="inset" (click)="changePic(fileLoader, 'library')" [button]="true" [detail]="false">
            <ion-icon slot="start" name="images-outline"></ion-icon>
            <ion-label>{{'' | translate}}</ion-label>
          </ion-item>
          <ion-item lines="inset" (click)="changePic(fileLoader, 'camera')" [button]="true" [detail]="false">
            <ion-icon slot="start" name="camera-outline"></ion-icon>
            <ion-label>{{'' | translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
  <form  [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        {{'hoteles.name_hotel' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'hoteles.name_input' | translate}}" formControlName="name_hotel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{'hoteles.localtion_hotel' | translate}}
      </ion-label>
      <ion-select formControlName="localtion_hotel">
        <ion-select-option *ngFor="let provincia of provincias " [value]="provincia">
          {{ provincia }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{'hoteles.street_hotel' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'hoteles.street_hotel' | translate}}" formControlName="street_hotel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        {{'hoteles.info_hotel' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'hoteles.info_input' | translate}}" formControlName="info_hotel"></ion-input>
    </ion-item>
  </form>

  <ion-button color="secondary" [disabled]="!form.valid" (click)="onSubmit()">{{mode=="Edit"?('settings.btn_edit' | translate):('settings.btn_new' | translate)}}</ion-button>
</ion-content>

<ion-footer *ngIf="esMovil">
  <ion-toolbar color="light">
    <ion-icon id="back-icon" name="arrow-back-circle-outline" slot="end" (click)="onDismiss(null)"></ion-icon>
    <ion-icon id="out-icon" name="log-out-outline" slot="start"  (click)="signOut()" ></ion-icon>
  </ion-toolbar>
  </ion-footer>


