<ion-list>
  <ion-item (click)="toggleAccordion()">
    <ion-avatar>
      <ion-img alt="{{_user.first_name}} {{_user.last_name}}" src="{{_user.profilePick}}"></ion-img>
    </ion-avatar>
    {{ _user.username }}
  </ion-item>
  <ion-item-sliding *ngIf="accordionExpanded">
    <ion-item>
      {{ _user.first_name}}
    </ion-item>
    <ion-item>
      {{ _user.last_name}}
    </ion-item>
    <ion-item>
      {{ _user.email }}
    </ion-item>
    <!--<ion-item-options side="end">
      <ion-button color="danger" (click)="onDeleteClick()">{{ "profile.btn_borrar" | translate }}</ion-button>
    </ion-item-options>-->
  </ion-item-sliding>
</ion-list>



