<ion-grid>
  <ion-list>
    <ion-item>
      <ion-avatar>
        <ion-img alt="{{_user.first_name}} {{_user.last_name}}" src="{{_user.profilePick}}"></ion-img>
      </ion-avatar>
      <ion-text>{{_user.last_name}}, {{_user.first_name}}</ion-text>
        <!-- <ion-button (click)="onEditClick()"><ion-icon name="create-outline" ></ion-icon></ion-button>-->
        <ion-button slot="end" id="btn_borrar" color="danger" (click)="onDeleteClick()">{{"profile.btn_borrar" |translate}}</ion-button>
    </ion-item>
  </ion-list>
  </ion-grid>