<ion-list>
  <ion-item (click)="toggleAccordion()">
    <ion-avatar>
      <ion-img alt="{{_user.first_name}} {{_user.last_name}}" src="{{_user.profilePick}}"></ion-img>
    </ion-avatar>
    <ion-text>
      {{ _user.username }}
    </ion-text>
  </ion-item>
  <ion-item-sliding *ngIf="accordionExpanded">
    <ion-item>
      Nombre: {{ _user.first_name}}
    </ion-item>
    <ion-item>
      Apellidos: {{ _user.last_name}}
    </ion-item>
    <ion-item>
      Email del Usuario: {{ _user.email }}
    </ion-item>
  </ion-item-sliding>
</ion-list>



