<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{"title.clientes"|translate}}</ion-title>
    <ion-icon *ngIf="esPc" id="back-icon" name="arrow-back-circle-outline" slot="end" routerLink="/home"></ion-icon>
    <ion-icon *ngIf="esMovil" name="add-outline" slot="end" id="add_btn" ></ion-icon>
    <ion-icon id="clientes-icon" name="person-circle-outline" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-fab  vertical="bottom" horizontal="start" edge="false" slot="fixed" *ngIf="esPc">
    <ion-fab-button (click)="signOut()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<app-clients-c *ngFor="let user of getAllUsers() | async" [_user]="user" (onEdit)="onEditUser($event)" (onDelete)="onDeleteUser($event)"></app-clients-c>

<ion-button *ngIf="esPc" shape="round"  (click)="downloadJson()">
  {{"settings.export" | translate}}
</ion-button>
</ion-content>

<!--Para dispositivos moviles-->
<ion-footer *ngIf="esMovil">
  <ion-toolbar color="light">
    <ion-icon id="back-icon" name="arrow-back-circle-outline" slot="end" routerLink="/home"></ion-icon>
    <ion-icon  id="out-icon" name="log-out-outline" slot="start"  (click)="signOut()" ></ion-icon>
  </ion-toolbar>
  </ion-footer>