<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{"Add Review" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="onDismiss(null)">{{'modal.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <app-selectable-hotel   formControlName="id_hoteles"></app-selectable-hotel>
    <ion-item>
      <ion-label position="floating">
        {{'form_review.fecha' | translate}}
      </ion-label>
      <ion-input type="date"  placeholder="{{'hoteles.location_input' | translate}}" formControlName="fecha"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">
        {{'form_review.text_r' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'hoteles.location_input' | translate}}" formControlName="text_review"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'form_review.rating' | translate }}</ion-label>
      <div class="star-rating">
        <ion-icon
          *ngFor="let star of stars"
          name="star"
          (click)="setRating(star)"
          [color]="star <= form.controls.rating.value ? 'primary' : 'medium'"
        ></ion-icon>
      </div>
    </ion-item>
  </form>

  <ion-button shape="round" color="secondary" [disabled]="!form.valid" (click)="onSubmit()">{{button_text}}</ion-button>
</ion-content>

<ion-footer *ngIf="esMovil">
  <ion-toolbar color="light">
    <ion-icon id="back-icon" name="arrow-back-circle-outline" slot="end" (click)="onDismiss(null)"></ion-icon>
    <ion-icon id="out-icon" name="log-out-outline" slot="start"  (click)="signOut()" ></ion-icon>
  </ion-toolbar>
  </ion-footer>