//Importacion de mi fuente personalizada
@font-face {
    font-family: "Mantinia Regular";
    src: url("/src/assets/fonts/mantinia_regular/mantinia_regular.otf")
        format("otf");
    }
    * {
    font-family: "Mantinia Regular";
}
ion-title{
    font-weight: bold;
}

// Estilos para dispositivos de escritorio
@media only screen and (min-width: 768px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    ion-img {
        width: 30%;
        margin-left: 35%;
        padding: 0;
    }

    ion-row {
        align-items: center;
    }

    #home-icon {
        margin-left: 15px;
        width: 20px;
        height: 20px;
    }

    #info-icon {
        padding: 20px;
        width: 20px;
        height: 20px;
    }

    #settings-icon {
        padding: 20px;
        width: 20px;
        height: 20px;
    }

    ion-button {
        width: 20%;
        margin-left: 40%;
    }

    a {
        color: rgb(165, 124, 0);
    }

    .optionals {
        margin-left: 42%;
        text-align: center;
        padding: 3px;
    }
}

// Estilos para dispositivos de escritorio
@media only screen and (max-width: 768px) {
    .container {
        max-width: 400px;
        margin: 0 auto;
    }

    ion-img {
        width: 100%;
        padding: 0;
    }

    ion-grid {
        align-items: center;
        text-align: center;
    }

    #home-icon {
        margin-left: 15px;
        width: 20px;
        height: 20px;
    }

    #info-icon {
        
        padding: 20px;
        width: 20px;
        height: 20px;
    }

    #settings-icon {
        margin-right: 30px;
        padding: 20px;
        width: 20px;
        height: 20px;
    }

    #out-icon{
        margin-left: 30px;
        padding: 20px;
        width: 25px;
        height: 25px;
    }

    ion-button {
        width: 75%;
    }
}
