<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{"home.title"|translate}}</ion-title>
    <ion-icon id="home-icon" slot="start" name="home"></ion-icon>
    <ion-icon *ngIf="esMovil"  slot="end" name="information-circle-outline" id="info-icon" routerLink="/about-us"></ion-icon>
    <ion-icon *ngIf="esPc" id="settings-icon" slot="end" name="settings-outline" routerLink="/settings"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-img src="./../../../assets/icon/icono-removebg-preview (1).png"></ion-img>
    <!-- <ion-text>Bienvenido a HostHotel, {{(user.user$ | async).first_name}} {{(user.user$ | async).last_name}}</ion-text>-->
    <ion-button routerLink="/hotels" shape="round">List of Hotels</ion-button>
    <ion-button routerLink="/clients" shape="round">List of Clients</ion-button>
    <ion-button routerLink="/about-us" shape="round">About Us</ion-button>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="esMovil">
  <ion-toolbar color="light">
    <ion-icon id="settings-icon" slot="primary" name="settings-outline" routerLink="/settings"></ion-icon>
  </ion-toolbar>
  </ion-footer>