<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Hotels</ion-title>
    <ion-icon name="arrow-back-circle-outline" slot="end" routerLink="/home"></ion-icon>
    <ion-icon name="bed-outline" slot="start" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

</ion-content>


<ion-footer *ngIf="esMovil">
  <ion-toolbar color="secondary">
    <ion-icon id="back-icon" name="arrow-back-circle-outline" slot="end" routerLink="/home"></ion-icon>
    
    <ion-icon id="settings-icon" slot="end" name="settings-outline" routerLink="/settings"></ion-icon>
  </ion-toolbar>
  </ion-footer>