<ion-card>
  <ion-card-header>
      <ion-img  *ngIf="!(hotel$ | async)?.url_img" alt="Silhouette of a hotel's head" src="https://docs-demo.ionic.io/assets/madison.jpg"> </ion-img>
    <ion-img  *ngIf="(hotel$ | async)?.url_img" alt="hotel picture" [src]="(hotel$ | async)?.url_img" > </ion-img>
    <h3>{{(hotel$| async)?.name_hotel}}</h3>
  </ion-card-header>

  <ion-card-content>
    <ion-row>
      <ion-text>User: {{(user$ | async)?.username}}</ion-text>
      <ion-text>{{review?.fecha | date:'short':undefined:locale.locale}}</ion-text>
    </ion-row>
    
    <ion-button class="item-expanded"slot="end" fill="clear" (click)="onEditClick()">
      <div class="vertical">
        <ion-icon name="create" ></ion-icon>
        {{'modal.edit' | translate | uppercase}}
      </div>
    </ion-button>
    <ion-button class="item-expanded"  slot="end" fill="clear" color="danger" (click)="onDeleteClick()">
      <div class="vertical">
        <ion-icon name="trash" ></ion-icon>
        {{'modal.delete' | translate | uppercase}}
      </div>
    </ion-button>
  </ion-card-content>
</ion-card>