<ion-card>
  <ion-card-header>
      <ion-img  *ngIf="!(hotel$ | async)?.url_img" alt="Silhouette of a hotel's head" src="https://docs-demo.ionic.io/assets/madison.jpg"> </ion-img>
    <ion-img  *ngIf="(hotel$ | async)?.url_img" alt="hotel picture" [src]="(hotel$ | async)?.url_img" > </ion-img>
    
    <h4>{{(hotel$| async)?.name_hotel}}, {{(hotel$|async)?.street_hotel}} 
  </h4>
  <div class="start-rating">
    <ion-icon class="start-rating"
    *ngFor="let star of getStarsArray(_review.rating)"
    name="star"
    color="primary"
  ></ion-icon>
</div>
  </ion-card-header>
    

  <ion-card-content>
    <ion-grid>
      <ion-text>{{"reviews.user"| translate}} {{(user$ | async)?.username}}</ion-text>
      
      <ion-row>
        <ion-text>{{_review.text_review}}</ion-text>
      </ion-row>
      
    </ion-grid>

    <ion-button shape="round" color="primary" *ngIf=" _review.id_user === currentUser.docId || currentUser.admin === true" slot="end" fill="clear"  (click)="onEditClick()">
        <ion-icon name="create"></ion-icon>
    </ion-button>
    <ion-button shape="round" *ngIf=" _review.id_user === currentUser.docId || currentUser.admin === true"  slot="end" fill="clear" color="secondary" (click)="onDeleteClick()">
        <ion-icon name="trash" ></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>